@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}

.page-header {
  color: #333333;
  background-color: #ffffff;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.hero {
  background-image: url(/images/index-background.jpg);
  height: 485px;
  width: 1200px;
}

.title-items {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.title-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.index-columns {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.index-columns p {
  color: #FFFFFF;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.main-units {
  background-color: rgba(131, 179, 211, 0.12);
}

.main-unit {
  background-color: rgba(131, 179, 211, 0.2);
}

.button-search-button {
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe {
  background-image: url("/images/main-subscribe-background.jpg");
  width: 1200px;
  height: 414.86px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.button-subscribe-button {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
