@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  width: 1280;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.page-wrap {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 1280px;
  margin: 0 auto;
}

/* Навигация */

.page-header {
  width: 1200px;
  color: #333333;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
}

.logo-header {
  display: block;
  position: relative;
  margin-bottom: -6px;
  z-index: 1;
  margin-right: 28px;
}

.navigation-menu {
  margin-left: 70px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;

}

/* Навигация Hover*/

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  bottom: 0;
  height: 2px;
  background-color: rgba(117, 98, 87, 1);
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  width: 507px;
  list-style-type: none;
}

.navigation-user {
  width: 400px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  min-width: 12px;
  min-height: 22px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: black;
}

.navigation-icon:hover {
  opacity: 0.8;
}

.navigation-icon:focus {
  opacity: 0.6;
}

.navigation-icon:active {
  opacity: 0.4;
}

.navigation-button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 34px;
  margin-left: 22px;
  text-transform: uppercase;
  outline: none;
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.navigation-button:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.navigation-item {
  position: relative;
  align-self: center;

}

.favorites-quantity {
  position: absolute;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 10px;
  z-index: 2;
  bottom: 28px;
  top: 11px;
  left: 20px;
  height: 20px;
  padding: 5px;
  display: flex;
  background-color: #7DB54F;
  border-radius: 50%;
  box-sizing: border-box;
  align-items: center;

}

/* main */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

/* hero*/

.main-text {
  display: block;
  margin: 0 auto;
}

.hero {
  position: relative;
  background-color: #1B313F;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero::after {
  position: absolute;
  content: "";
  width: 1200px;
  height: 57px;
  bottom: 0;
  background-image: url("../images/hero-bottom.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* advantages*/

.advantages {
  padding-top: 69px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-areas:
    "city city city"
    "square road tourist"
    "devil devil devil";
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-city {
  grid-area: city;
}

.advantages-item-square {
  grid-area: square;
}

.advantages-item-road {
  grid-area: road;
}

.advantages-item-tourist {
  grid-area: tourist;
}

.advantages-item-bridge {
  grid-area: devil;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;


}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.title-items {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 20px;
}

.title-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.title-paragraph-advantages {
  margin-bottom: 90px;
}

.advantages-title::after {
  content: "";
  display: block;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 60px;
  margin: 30px auto 0;
}

.advantages-item-wide .advantages-title::after {
  border-bottom: 2px solid #FFFFFF;
}

.index-columns {
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 102px 85px;
}

.index-columns p {
  color: #FFFFFF;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 30px;
  max-width: 175px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages-item-wide {
  display: flex;
  width: 1200px;
}

.advantages-item-wide-rewerse {
  display: flex;
  width: 1200px;
  flex-direction: row-reverse;
}

.advantages-item-center {
  padding: 112px 85px;
  box-sizing: border-box;
}

.title-items-advantages {
  position: relative;
  max-width: 620px;
  margin-bottom: 25px;
}

.city-view,
.bridge-view {
  object-fit: cover;
  height: auto;
}

/* recommendation*/

.recommendation {
  padding-top: 64px;
}

.recommendation-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 64px;
}

.recommendation-item {
  width: 400px;
  padding: 81px 85px;
  display: block;
  content: "";
  box-sizing: border-box;
}


.recommendation-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  top: 40px;
  padding: 30px 0;
  margin: 0;
}

.recommendation-item-house {
  background-color: rgba(131, 179, 211, 0.12);

}

.recommendation-item-present {
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendation-item-house::before {
  display: block;
  content: "";
  background-image: url(../images/main-icon-house.svg);
  background-position: center;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.recommendation-picture-food::before {
  display: block;
  content: "";
  background-image: url(../images/main-icon-burger.svg);
  background-position: center;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.recommendation-picture-present::before {
  display: block;
  content: "";
  width: 75px;
  height: 72px;
  background-position: center;
  background-image: url(../images/main-icon-present.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.title-items-recommendation {
  position: relative;
  max-width: 505px;
}

.recommendation-description {
  max-width: 230px;
  margin: 0 auto;
}

.title-paragraph-recommendation {
  margin-bottom: 64px;
}


/*search*/

.button-search {
  display: block;
  padding: 8px 50px;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  width: max-content;
  margin: 0 auto;
  border-radius: 4px;
}

.button-search:hover,
.button-search:focus {
  background-color: rgba(97, 80, 72, 1);
}

.button-search:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-search:disabled {
  background-color: #E5E5E5;
  color: rgba(255, 255, 255, 1);
}

.title-paragraph-search {
  max-width: 590px;
  margin-bottom: 54px;

}

.search-hotel {
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*subscribe*/
.subscribe {
  background-color: #1B313F;
  background-image: url("../images/main-subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-paragraph {
  max-width: 475px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.button-subscribe {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  min-width: 232px;
  letter-spacing: -2px;
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #68A2CA;

}

.button-subscribe:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe:disabled {
  background-color: #E5E5E5;
  color: rgba(255, 255, 255, 1);
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
}

.title-paragraph-subscribe {
  max-width: 475px;
  color: #FFFFFF;
  margin-bottom: 54px;
}

.title-items-subscribe {
  color: #FFFFFF;
}

.field {
  padding: 8px 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-form {
  display: flex;
  width: 684px;
}

.field:hover {
  background-color: rgba(230, 230, 230, 1);
}

input::placeholder {
  color: rgba(0, 0, 0, 1);
  Font: PT Sans;
  Weight: 700;
  Size: 18px;
  Line-height: 24px;
}

.field:focus {
  background-color: rgba(230, 230, 230, 1);
}

input:placeholder-shown {
  border-color: rgba(0, 0, 0, 1);
  background-color: #F2F2F2;
}

/* footer */
.page-footer {
  display: flex;
  margin: 0 auto;
  padding: 40px 70px 30px;
  align-items: center;
  min-height: 50px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-social-link {
  fill: #83B3D3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-link:hover svg {
  fill: rgba(104, 162, 202, 1);
}

footer-social-link:focus svg {
  fill: rgba(104, 162, 202, 1);
}

.footer-social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.contacts-phone {
  margin: 0 auto;
  width: 331;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-footer {
  width: 115;
}

.logo-footer svg {
  display: block;
}

.logo-footer:hover svg {
  fill: rgba(117, 97, 87, 1);
}

.logo-footer:focus svg {
  fill: rgba(117, 97, 87, 1);
}

.logo-footer:active svg {
  fill: rgba(117, 97, 87, 0.3);
}
