@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}

/*
.advantages {
  display: none;
}

.recommendation {
  display: none;
}

.search-hotel {
  display: none;
}

.subscribe {
  display: none;
}
*/




/* Навигация */

.page-header {
  color: #333333;
  background-color: #ffffff;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}



.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 507px;
}

.navigation-user {
  width: 268px;
  margin-left: auto;
}

/* main */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* hero*/

.main-text {
  display: block;
  margin: 0 auto;
}

.hero {
  background-color: #1B313F;
  background-image: url(../images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* advantages*/

.advantagest-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-color {
  background-color: rgba(131, 179, 211, 0.2);
}

.title-items {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.title-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.index-columns {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.index-columns p {
  color: #FFFFFF;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
/* recommendation*/

.recommendation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.recommendation-item {
  width: 400px;
}

.color {
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.button-search {
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe {
  background-color: #1B313F;
  background-image: url("../images/main-subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.button-subscribe {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
/* footer */

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  width: 146px;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.contacts-phone {
  margin: 0 auto;
  width: 331;
}

logo-footer {
  width: 115;
}
